        <footer>
            <p id="source_header">
                Sources    
            </p>
            <ul id="sources">
                <li><a href="https://devskiller.com/history-of-programming-languages/">History</a></li>
                <li><a href="https://www.ionos.com/digitalguide/websites/web-development/imperative-programming/">Imperative Programming</a></li>
                <li><a href="https://www.ionos.com/digitalguide/websites/web-development/declarative-programming/">Declarative Programming</a></li>
                <li><a href="https://www.smashingmagazine.com/2014/07/declarative-programming/">Declarative Programming</a></li>
            </ul>
        </footer>

    </body>
</html>