<%- include('partials/header.ejs') %>
        <main>
            <div id="image">
                <figure>
                    <img src='img/01-sandwich-opt.png' alt='Declarative Languages'/>
                </figure>
            </div>
            <div class='container'>
                <h2>Declarative Programming Paradigm</h2>
                <p>
                    Declarative programming is more like human language than Imperative programming.  Take the above 
                    comic.  It's a good example of a declarative language (and the quirks of Linux).
                    In this case, the declaration is "Make me a sandwich".  The person isn't told how to make a sandwich, just that
                    they should make one.  This is declarative programming at its simplest.  If this same process were to use 
                    Imperative language, the person requesting the sandwich would lay out all the steps required to 
                    obtain the proper outcome, like finding the bread, getting the condiments, etc.
                    
                    Here's a short list of Declarative Languages:
                </p>
                    <ul>
                        <li>Prolog</li>
                        <li>Lisp</li>
                        <li>Haskell</li>
                        <li>Miranda</li>
                        <li>Erlang</li>
                        <li>SQL</li>
                    </ul>
                
                <h2>Declarative Programming and the Web</h2>
                <p>
                    Declarative programming is used widely in the world wide web.  HTML might be the most commonly
                    encoutered Declarative programming language.  SQL, also considered a declarative language, is
                    often used in concert with HTML.  With both HTML and SQL, all the matters is what's printed in
                    the web browser or requested from the database.  The user doesn't need to know how HTML changes
                    tags into fonts or how SQL parses a query.
                </p>
            </div>
        </main>
<%- include('partials/footer.ejs') %>