<%- include('partials/header.ejs') %>
        <main>

            <div id="history">
                <img src='img/TimelineOfProgrammingLanguages.png' alt='Programming Languages throughout History'/>
            </div>
            
            <div class="container">
            <h2>World's First Programmer</h2>
            <p>
                Mechanical computers have existed as far back as the 19th century.  <%= fakeName %>, daughter of author and poet
                Lord Byron, published what is largely aggreed to be the first program in the 1840s.  Designed to calculate
                Bernoulli numbers and run on Charles Babbage's analytical engine, it gave Ada the distinction of being the 
                world's first programmer.  In the interveneing 180 years, over 700 programming languages have been created,
                including the Ada programming language, named afte Ada Lovelace.
            </p>
            </div>
        </main>
<%- include('partials/footer.ejs') %>