<%- include('partials/header.ejs') %>
        <main>
            <div id="image">
                <figure>
                    <img src='img/Imperative.jpg' alt='Programming Languages'/>
                </figure>
            </div>
            <div class='container'>
                <h2>Imperative Programming Languages</h2>
                <p>
                    Imperative programming is one of the two primary programming paradigms.  Imperative programming focuses on 
                    how something is done.  An outcome is achieved through a specifically defined set of steps to be executed by the program.  
                    Many of the most commonly used programming languages use the imperative programming paradigm starting
                    with one of the first commercially available programming languages, FORTRAN.  Below you'll find a list of programming
                    languages that use the imperative programming paradigm in order of release:
                </p>
                    <ol>
                        <li>Fortran</li>
                        <li>ALGOL</li>
                        <li>COBOL</li>
                        <li>BASIC</li>
                        <li>Assembler</li>
                        <li>Pascal</li>
                        <li>C</li>
                        <li>C++</li>
                        <li>Python</li>
                        <li>Java</li>
                        <li>Ruby</li>
                        <li>C#</li>
                    </ol>
                    The imperative programming paradigm can be broken into three categories: structured, procedural, and modular.
                    <dl>
                        <dt>Structured</dt>
                        <dd>includes expanded use of control stuctures such as if/then and loops</dd>
                        <dt>Procedural</dt>
                        <dd>break down tasks into small components</dd>
                        <dt>Modular</dt>
                        <dd>aims to separate code into modules to increase ease of re-use</dd>
                    </dl>
                </div>
        </main>
<%- include('partials/footer.ejs') %>