<%- include('partials/header.ejs') %>
        <main>
            <div id="image">
                <figure>
                    <img src='img/programming_languages.jpg' alt='Programming Languages'/>
                </figure>
            </div>
            
            <div class='container'>
                <h2>What is a programming language?</h2>
                <p>
                 	A programming language is language used by programmers to instruct a computer how or what to do in order to achieve some outcome.  
                 	A programming language’s syntax defines the form of the code and how it’s put together.  Semantics, on the other hand, deals with 
                 	the function and meaning of the code.  A program with poor syntax will not compile.  A program with poor semantics may compile and 
                 	run, but won’t generate the expected result.   
                </p>
                <h2>High-Level vs Low-level</h2>
                <p>
                    Languages such as C++ and Java are high level programming languages.  They provide an abstraction between hardware and software.  
                    An assembler is required to convert the program code to something that can be understood by the specific hardware on which the application 
                    will run.  Low-level programming using Assembly language requires hardware specific information.  Unlike high-level languages, if the 
                    hardware changes, the assembly language might change as well.
                </p>
                <h2>Programming Paradigms</h2>
                <p>
                    Programming languages can be broken down into programming paradigms.  The two major programming paradigms are Imperative and Declarative.  
                    Procedural and object-oriented programming are two types of programming that can be found within the Imperative programing paradigm.  
                    Functional and Logical programming can be found within the Declarative programing paradigm.
                </p>
            </div>
        </main>
<%- include('partials/footer.ejs') %>